#footer {
	text-align: center;
}

.form-quiz {
	margin-left: 20px;
}

.jumbotron h1 {
	font-size: 4em;
}

.jumbotron p {
	font-size: 1.5em;
}

.footer-icon {
	color: #adadad;
	font-size: 2em;
	margin-left: 5px;
	margin-right: 5px;
}

.footer-icon:hover {
	color: #000;
	-webkit-transition: color 500ms ease-out;
  -moz-transition: color 500ms ease-out;
  -o-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
}
